// colores
$negro: #000000;
$verde:  #d6ff38;
$verdeTranspa:  #d7ff385d;
$blanco: #FFFFFF;

// fonts
$fuenteSecundaria: 'Lato', sans-serif;
$fuenteFrases: 'Cormorant Garamond', serif;
$fuentePrincipal: 'Montserrat', sans-serif;


// Media queries
$telefono: 665px;
$tablet: 1039px;
$desktop: 1040px;

// separacion
$separacion: 5rem;